# dependencies
node_modules
.pnpm-store

# output
.next
dist
coverage
.turbo

# env
.env
.env.*
!.env.example

# system
.DS_Store

# logs
*.log

# prisma
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal
